.App {
  text-align: center;
}

.navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: rgba(29, 161, 242, 1);
}

#horizontal-logo {
  max-width: 100%;
  height: auto;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: right;
  margin-right: 0;
  list-style: none;
}

.nav-links>a{
  color: #fff;
  text-decoration: none;
}

.nav-links > * {
  padding: 8px;
}

