#root{
  background-image: url('assets/library-background-5.avif');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.App {
  text-align: center;
}

.navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* color: #FEFFF7; */
  background: rgba(38, 51, 66, 0.9);
}

#horizontal-logo {
  max-width: 100%;
  height: auto;
}

#basic-nav-dropdown {
  color: #FEFFF7;
}

.nav-link {
  list-style: none;
  color: #FEFFF7;
}

#grid {
  margin-top: 30px;
  justify-content: center;
  padding-bottom: 100px;
}

#tbr-grid {
  margin-top: 30px;
  justify-content: center;
  padding-bottom: 100px;
}

#tbr-length {
  width: 50%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #263342;
  background-color: rgba(228, 229, 231, 0.7);
  padding: 15px;
  border-radius: 8px;
  font-weight: 500;
}

.book-card {
  display: flex;
  height: 100%;
  /* align-items: center; */
  text-align: center;
  border-radius: 8px;
  background-color: rgba(228, 229, 231, 0.7);
  color: #263342;
  padding: 10px;
}

#card-image {
  border-radius: 8px;
}

#genre {
  margin-left: auto;
  margin-right: auto;
}

#readStatus {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.add-book {
  width: 85vw;
  background-color: rgba(228, 229, 231, 0.6);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  margin-top: 30px;
  color: #263342;
}

.add-book h2 {
  text-align: center;
  margin-bottom: 30px;
}

.label {
  font-size: 20px;
  font-weight: 500;
}

.length {
  text-align: center;
  color: #FEFFF7
}

#tbr-grid {
  justify-content: center;
}

#login-form {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 8px;
  background-color: rgba(228, 229, 231, 0.6);
  color: #263342;
}

#login-form * {
  margin-bottom: 15px;
}

#login-form p {
  margin-top: 70px;
  padding-bottom: 20px;
  text-align: center
}

#login-form a {
  text-decoration: underline;
}

#login-form h2 {
  text-align: center;
}

#login-form h4 {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: #685C71;
  border: transparent;
  border-radius: 20px;
}

.button:hover {
  background-color: #352642;
  border: transparent;
}

#sign-in {
  width: 100%
}

.footer {
  background: rgba(38, 51, 66, 0.9);
  width: 100%;
  min-height: 10vh;
  position: fixed;
  bottom: 0;
  /* margin-top: auto; */
  /* margin-bottom: 0px; */
  text-align: center;
  color:#FEFFF7;
  padding: 20px;
}

.footer a {
  color:#FEFFF7;
}

.footer a:visited {
  color: #A19399;
}