#root{
  background-image: url('assets/library-background-5.avif');
  /* filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.App {
  text-align: center;
}

.navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #FEFFF7; */
  background: rgba(38, 51, 66, 0.8);
}

#horizontal-logo {
  max-width: 100%;
  height: auto;
}

#basic-nav-dropdown {
  color: #FEFFF7;
}

.nav-links > * {
  padding: 8px;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  list-style: none;
}

#grid {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#book-card {
  display: flex;
  height: 100%;
  border: primary;
  border-width: 2px;
  text-align: center;
}

#delete {
  align-items: flex-end;
}

#login-form {
  width: 35vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 8px;
}